.test__box {
    background: #F6F8F9;
    border-radius: 5px;
}

.test_title {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    color: #212B31;
}

.test__text {
    max-width: 435px;
    margin: 0;
}
.review__photo {
    width: 48px;
    height: 48px;
    background: #000;
    margin-right: 8px;
}

.test__review {
    display: flex;
}

.review__name {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #212B31;
}

.swiper {
    height: 300px;
    width: 500px;
}

.swiper-pagination {
    width: auto;
    left: 0;
}